body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    
}

#box1:hover {
    background-color: purple;
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: rgb(255, 69, 0);
    animation: box2move 5s linear 0s infinite alternate;

}




@keyframes box2move{
    0% {
        top: 0;
        left: 0;
        background-color: rgb(255, 69, 0);
        height: 25vh;
      }
      20% {
        top: 50px;
        left: 50px;
        background-color: rgb(248, 255, 47);
        height: 50vh;
      }
      40% {
        left:200px;
        top:200px;
        background-color: rgb(85, 255, 55);
        height: 10vh;
      }
      60% {
      left: 0;
      top:300px;
      background-color: rgb(14, 219, 255);
      height:30vh;
        }
    80% {
      left: 75vh;
      top:40vh;
      height: 40vh;
    }
   100%  {
        top: 0;
        left:0;
        background-color: #c800ff;
        height: 25vh;
      }
    }